<main>
    <div class="error-prompt text-center">
        <h1>Sorry, this page yet to be built.</h1>
        <h3>Please stay tuned!</h3>
    </div>
</main>

<!-- Bootstrap core JavaScript -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"
    integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
    crossorigin="anonymous"></script>
<script src="/js/codepai.js"></script>



<style>
    .error-prompt {
        margin-top: 80px;
    }

    body {
        display: flex;
        flex-direction: column;
        /* Fullfill the whole page */
        min-height: 100vh;
    }

    main {
        /* Flexible box items will expand evenly to occupy the remaining space available in their parent container. */
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>