<!DOCTYPE html>
<html lang="en">
<%- include('_header') %>

    <body>
        <header>
            <%- include('_menu') %>
        </header>

        <%- include('_toBeBuilt') %>

        <!-- FOOTER -->
        <footer>
            <%- include('_footer')%>
        </footer>

    </body>



</html>