<!doctype html>
<html lang="en">
    <%- include('_header') %>
    <body>
      <header>
        <%- include('_menu') %>
      </header>
  <main role="main">
    <section class="feature-section">
      <div class="container">
      <!-- used in customers, affiliate program and all other page -->
      <div class="section-heading-v3 mb-8">
        <div class="text-water-blue title">Use Cases</div>
          <div class="desc mt-3 mb-5"> Get the most out of your customer data by focussing on the right data points.</div>
      </div>
        <div class="use-cases-wrap">
          <div class="row">
              <div class="col-md-6 col-12 mb-7 ">
                <div class="card resource-card use-cases-card">
                  <div class="card-img-top">
                    <figure class="embed-responsive use-cases-card-image-wrap mb-0">
                      <div class="embed-responsive-item">
                        <img class="use-cases-card-image lazyloaded" data-src="https://res.cloudinary.com/Hevo/image/upload/w_500/v1626953625/Hevo-website/activate/sync-product-data-crm_yaqzi2.png" src="https://res.cloudinary.com/Hevo/image/upload/w_500/v1626953625/Hevo-website/activate/sync-product-data-crm_yaqzi2.png">
                      </div>
                    </figure>
                  </div>
                  <div class="card-body">
                    <h3 class="card-title">Sync Product Data into your Sales CRM</h3>
                    <span class="card-text">Get all your product data in your CRM tool and track user activity. Bucket users based on their activity and improve product adoption. Prevent users from churning by identifying issues in adoption.  </span>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-12 mb-7 ">
                <div class="card resource-card use-cases-card">
                  <div class="card-img-top">
                    <figure class="embed-responsive use-cases-card-image-wrap mb-0">
                      <div class="embed-responsive-item">
                        <img class="use-cases-card-image lazyloaded" data-src="https://res.cloudinary.com/Hevo/image/upload/w_500/v1626953625/Hevo-website/activate/customer-sync-up-sales-crm_rdhs5s.png" src="https://res.cloudinary.com/Hevo/image/upload/w_500/v1626953625/Hevo-website/activate/customer-sync-up-sales-crm_rdhs5s.png">
                      </div>
                    </figure>
                  </div>
                  <div class="card-body">
                    <h3 class="card-title">Build 360 View of Customer and Sync-up Sales CRM</h3>
                    <span class="card-text">Having access to siloed data from different tools in your stack which can be synced with your Sales CRM, you can understand your customers better with every vantage point.</span>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-12  mb-7 mb-md-0">
                <div class="card resource-card use-cases-card">
                  <div class="card-img-top">
                    <figure class="embed-responsive use-cases-card-image-wrap mb-0">
                      <div class="embed-responsive-item">
                        <img class="use-cases-card-image ls-is-cached lazyloaded" data-src="https://res.cloudinary.com/Hevo/image/upload/w_500/v1626953625/Hevo-website/activate/create-segments-users_fnj0fv.png" src="https://res.cloudinary.com/Hevo/image/upload/w_500/v1626953625/Hevo-website/activate/create-segments-users_fnj0fv.png">
                      </div>
                    </figure>
                  </div>
                  <div class="card-body">
                    <h3 class="card-title">Create Segments of Users and make your marketing team efficient</h3>
                    <span class="card-text">Let your marketing team target the visitors who really matter instead of wasting time. Focus on channels which convert better and maximize your ROI.</span>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-12  ">
                <div class="card resource-card use-cases-card">
                  <div class="card-img-top">
                    <figure class="embed-responsive use-cases-card-image-wrap mb-0">
                      <div class="embed-responsive-item">
                        <img class="use-cases-card-image ls-is-cached lazyloaded" data-src="https://res.cloudinary.com/Hevo/image/upload/w_500/v1626953625/Hevo-website/activate/complete-customer-profile_nvnwod.png" src="https://res.cloudinary.com/Hevo/image/upload/w_500/v1626953625/Hevo-website/activate/complete-customer-profile_nvnwod.png">
                      </div>
                    </figure>
                  </div>
                  <div class="card-body">
                    <h3 class="card-title">Create a complete customer profile to enrich your support team</h3>
                    <span class="card-text">Help your support team to automatically prioritize tickets of your enterprise customers. You can sync all the customer data into your support software and have them respond quicker with holistic customer background.</span>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </section>
    <!-- FOOTER -->
    <%- include('_footer')%>
  </main>
  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"
    integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
    crossorigin="anonymous"></script>
  <script src="/js/codepai.js"></script>
</body>
</html>
