<!DOCTYPE html>
<html lang="en">
<%- include('_header') %>

    <body>
        <header>
            <%- include('_menu') %>
        </header>

        <head>
            <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
        </head>

        <main class="flex-grow-1">

            <!-- Title -->
            <section class="title-section">
                <div class="container text-center">
                    <h1>Empowering Real-Time Data Integration with DataPAI</h1>
                    <p>Seamlessly integrate data from various sources, ensuring that your business operates with the
                        most up-to-date information.</p>
                    <a href="#" class="btn btn-primary">Learn More</a>
                </div>
            </section>

            <!-- Explain reasons -->
            <section class="reason-section">
                <div class="container">
                    <div class="row justify-content-center align-items-center animate-on-scroll">
                        <div class="col-md-6">
                            <h2>Why Real-Time Data Integration Matters</h2>
                            <p>In today’s fast-paced business environment, access to accurate and timely data is
                                critical. At DataPAI, we specialize in integrating data in real-time, enabling
                                organizations to make faster, data-driven decisions. Our platform provides the agility
                                needed to synchronize data across various sources, applications, and systems without
                                delays, ensuring consistency and transparency.</p>
                        </div>

                        <!-- TODO: Put a GIF iamge here to show how DataPAI achieve real-time integration -->
                        <div class="col-md-5 justify-content-center">
                            <img src="/images/realtime-3.png" class="img-fluid" alt="Data Flow Overview">
                        </div>
                    </div>
                </div>
            </section>

            <!-- Main Content -->
            <section class="main-content-section">
                <div class="container">
                    <h2 class="text-center section-title">How It Works</h2>
                    <div class="row justify-content-center">
                        <div class="col-md-2">
                            <div class="card shadow-sm h-100 animate-on-scroll delay-1">
                                <div class="card-body">
                                    <i class="fab fa-connectdevelop fa-lg"></i>
                                    <h4 class="card-title">Step 1: Connect</h4>
                                    <p class="card-text">Easily connect to your existing data sources and applications.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div
                            class="col-md-1 d-flex justify-content-center align-items-center animate-on-scroll delay-2">
                            <i class="fas fa-arrow-alt-circle-right fa-3x"></i>
                        </div>

                        <div class="col-md-2">
                            <div class="card shadow-sm h-100 animate-on-scroll delay-3">
                                <div class="card-body">
                                    <i class="fas fa-swatchbook" fa-lg></i>
                                    <h4 class="card-title">Step 2: Ingest</h4>
                                    <p class="card-text">Automatically ingest data in real-time, ensuring every
                                        transaction and update is captured immediately.</p>
                                </div>
                            </div>
                        </div>

                        <div
                            class="col-md-1 d-flex justify-content-center align-items-center animate-on-scroll delay-4">
                            <i class="fas fa-arrow-alt-circle-right fa-3x"></i>
                        </div>

                        <div class="col-md-2">
                            <div class="card shadow-sm h-100 animate-on-scroll delay-5">
                                <div class="card-body">
                                    <i class="fas fa-vector-square" fa-lg></i>
                                    <h4 class="card-title">Step 3: Process</h4>
                                    <p class="card-text">Leverage our advanced processing engine to transform, cleanse,
                                        and enrich your data for analysis.</p>
                                </div>
                            </div>
                        </div>

                        <div
                            class="col-md-1 d-flex justify-content-center align-items-center animate-on-scroll delay-6">
                            <i class="fas fa-arrow-alt-circle-right fa-3x"></i>
                        </div>

                        <div class="col-md-2">
                            <div class="card shadow-sm h-100 animate-on-scroll delay-7">
                                <div class="card-body">
                                    <i class="fas fa-truck" fa-lg></i>
                                    <h4 class="card-title">Step 4: Deliver</h4>
                                    <p class="card-text">Deliver the processed data to your BI tools, applications, and
                                        storage systems with zero delay.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Benefits -->
            <section class="benefits-section">
                <div class="container">
                    <h2 class="text-center section-title animate-on-scroll">Benefits of Real-Time Integration with DataPAI
                    </h2>
                    <div class="row text-center">
                        <div class="col-md-3">
                            <div class="card shadow-sm h-100 benefit-card animate-on-scroll">
                                <div class="card-body">
                                    <i class="fas fa-wrench fa-lg"></i>
                                    <h4 class="card-title">Improved Decision Making</h4>
                                    <p class="card-text">Access real-time data insights to enhance your decision-making
                                        processes and stay ahead of the competition.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card shadow-sm h-100 benefit-card animate-on-scroll">
                                <div class="card-body">
                                    <i class="fas fa-dollar-sign fa-lg"></i>
                                    <h4 class="card-title">Reduced Operational Costs</h4>
                                    <p class="card-text">Streamline your data management processes to reduce IT
                                        overheads and operational costs.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card shadow-sm h-100 benefit-card animate-on-scroll">
                                <div class="card-body">
                                    <i class="fas fa-sort-amount-up-alt fa-lg"></i>
                                    <h4 class="card-title">Enhanced Business Agility</h4>
                                    <p class="card-text">Adapt quickly to market changes with flexible and real-time
                                        data integration capabilities.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card shadow-sm h-100 benefit-card animate-on-scroll">
                                <div class="card-body">
                                    <i class="fas fa-shield-alt fa-lg"></i>
                                    <h4 class="card-title">High Security Standards</h4>
                                    <p class="card-text">Keep your data secure with DataPAI’s enterprise-grade security
                                        protocols and compliance measures.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="text-center demo-section">
                <div class="container">
                    <div class="row justify-content-center align-items-center animate-on-scroll">
                        <div class="col col-lg-6 bottom-left-container">
                            <p id="first-line">Start managing your data in real time with DataPAI today</p>
                            <p id="second-line">Book a demo to learn more.</p>
                        </div>
                        <div class="col col-lg-2">
                            <a href="/services/consulting" class="btn btn-primary btn-lg animate-on-scroll"
                                style="margin-bottom: 10px;">CONTACT US</a>
                        </div>
                    </div>
                </div>
            </section>


        </main>

        <!-- FOOTER -->
        <footer>
            <%- include('_footer')%>
        </footer>

    </body>

    <style>
        header {
            position: fixed;
            width: 100%;
            top: 0;
            z-index: 1000;
        }

        body {
            display: flex;
            flex-direction: column;
            /* Fullfill the whole page */
            min-height: 100vh;
        }

        main {
            /* Flexible box items will expand evenly to occupy the remaining space available in their parent container. */
            flex-grow: 1;
            margin-top: 40px;
        }

        .title-section,
        .reason-section,
        .main-content-section,
        .DataPAI-intro-section,
        .benefits-section {
            margin-bottom: 100px;
        }

        .title-section,
        .demo-section {
            background: linear-gradient(45deg, darkseagreen, seagreen);
            background-size: cover;
            background-position: center;
            padding: 50px 0;
            display: flex;
            justify-content: center;
            text-align: center;
            overflow: hidden;
            color: white;
        }

        .reason-section h2 {
            white-space: nowrap;
            width: 100%;
        }

        .img-fluid {
            border-radius: 30px;
        }

        .section-title {
            margin-bottom: 30px;
        }

        .col-md-2 {
            margin: 0;
            padding: 0;
        }

        .demo-section {
            color: white;
            margin-bottom: 100px;
        }

        #first-line {
            text-align: left;
            font-weight: 700;
            font-size: 36px;
        }

        #second-line {
            font-size: 24px;
            font-weight: 600px;
            text-align: left;
        }

        .animate-on-scroll {
            opacity: 0;
            transform: translateY(20px);
            transition: opacity 0.5s ease, transform 0.5s ease;
        }

        .animate-on-scroll.visible {
            opacity: 1;
            transform: translateY(0);
        }

        .delay-1 {
            transition-delay: 0.2s;
        }

        .delay-2 {
            transition-delay: 0.4s;
        }

        .delay-3 {
            transition-delay: 0.6s;
        }

        .delay-4 {
            transition-delay: 0.8s;
        }

        .delay-5 {
            transition-delay: 1.0s;
        }

        .delay-6 {
            transition-delay: 1.2s;
        }

        .delay-7 {
            transition-delay: 1.4s;
        }
    </style>

    <!-- Bootstrap core JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"
        integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
        crossorigin="anonymous"></script>
    <script src="/js/codepai.js"></script>
    <script>
        function animateOnScroll() {
            $('.animate-on-scroll').each(function () {
                var elementBottom = $(this).offset().top + $(this).outerHeight();
                var windowBottom = $(window).scrollTop() + $(window).height();
                if (elementBottom < windowBottom - 50) {
                    $(this).addClass('visible');
                }
            });
        }

        $(window).on('scroll', animateOnScroll);
        animateOnScroll();
    </script>

</html>